/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/pkg/
/spec/reports/
/tmp/
/example/log/*.log
*.gem

/ext/aerospike_c_ruby/Makefile
/ext/aerospike_c_ruby/*.o
/lib/aerospike_c_ruby/aerospike_c_ruby.so